<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.batmanlost.dancegame" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AskNValueActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TilesActivity"
            android:label="@string/app_name"
            android:parentActivityName=".AskNValueActivity" >
        </activity>
        <activity
            android:name=".GameResultActivity"
            android:label="@string/title_activity_game_result" >
        </activity>
    </application>

</manifest>
